{% extends "base.html" %}

{% block title %}{{ section.title }} · {{ config.title }}{% endblock title %}

{% block head %}{% endblock head %}

{% block content %}
{% set menu_section = get_section(path="menu/_index.md") %}
{% set days = menu_section.pages %}
{% set menu_meta = menu_section.extra %}

{% include "partials/hero.html" %}
{% include "partials/menu-overview.html" %}
{% include "partials/instagram.html" %}
{% endblock content %}

{% block scripts %}
{% set embed_posts = config.extra.instagram_embed.posts | default(value=[]) %}
{% if embed_posts | length > 0 or (config.extra.instagram_embed.permalink and config.extra.instagram_embed.permalink | length > 0) %}
<script async src="https://www.instagram.com/embed.js"></script>
{% endif %}
{% endblock scripts %}
